@{
    ViewData["Title"] = "Admin Menu";
}

<h2>Admin Menu</h2>


<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="ListUsers">Kullanıcıları Listele</a>
</div>


<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Çıkış Yap</a>
</div>


