@{
    ViewData["Title"] = "Add Note";
}

<h2>Add Note</h2>

<form asp-action="AddNote" method="post">
    <div class="form-group">
        <label for="NoteText">Note:</label>
        <textarea class="form-control" id="NoteText" name="NoteText" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add Note</button>
</form>


<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="UserMenu">Menü</a>
</div>
