@model Note

@{
    ViewData["Title"] = "Delete Note";
}

<h2>Notu silmek istediğinizden emin misiniz?</h2>

<p>@Model.NoteText</p>

<form asp-action="DeleteNoteConfirmed" method="post">
    <input type="hidden" asp-for="NoteId" />
    <button type="submit" class="btn btn-danger">Evet,eminim!</button>
    <a asp-action="ListNotes" class="btn btn-secondary">Vazgeç</a>
</form>

<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="UserMenu">Menü</a>
</div>
