@model List<Note>

@{
    ViewData["Title"] = "List Notes";
}

<h2>List Notes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Note</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>@note.NoteText</td>
                <td>@note.NoteDate</td>
                <td>
                    <a asp-action="EditNote" asp-route-noteId="@note.NoteId">Edit</a> |
                    <a asp-action="DeleteNoteConfirmation" asp-route-noteId="@note.NoteId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="UserMenu">Menü</a>
</div>
