@{
    ViewData["Title"] = "User Menu";
}

<h2>Kullanıcı Menüsü</h2>
<p>Kullanıcı Menüsüne Hoş Geldiniz.</p>



<a asp-action="AddNote" class="btn btn-primary">Not Ekle</a>
<a asp-action="ListNotes" class="btn btn-primary">Not Listele</a>
<a asp-action="UpdateUser" class="btn btn-primary">Kullanıcı bilgisi güncelle</a>



<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Çıkış Yap</a>
</div>
