@{
    ViewData["Title"] = "User Menu";
}

<h2>Kullanıcı Menüsü</h2>
<p>Kullanıcı Menüsüne Hoş Geldiniz.</p>

<a asp-action="AddNote" class="btn btn-primary">Add Note</a>
<a asp-action="ListNotes" class="btn btn-primary">List Notes</a>
<a asp-action="UpdateUser" class="btn btn-primary">Update User Info</a>
