@{
    ViewData["Title"] = "Home Page";
}

<h2>Not Uygulamasına Hoş Geldiniz!</h2>


<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Login">Giriş Yap</a>
</div>

<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Signup">Kayıt Ol</a>
</div>
